
{% load static %}
<link type="text/css" href={% static 'onlineedu/css/bootstrap.css'%} rel="stylesheet">
{% if university %}
    <h1 >Welcome to {{ university.name }} </h1>
    <p>Find us at this address {{ university.town }} !</p>
{% else %}
    <p>No university available </p>
{% endif %}
<span class="label label-default">Default</span>
<span class="label label-primary">Primary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span>
